<app-menu></app-menu>
<label>Student List</label> | 
<a routerLink = "/students/create">New Student</a> | 
<input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
<div class="component">
    <table class="table table-sm">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>SAT</th>
            <th>GPA</th>
            <th>Major</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let s of students | studentSearch: searchCriteria">
            <td>{{s.id}}</td>
            <td>{{s.name}}</td>
            <td>{{s.sat}}</td>
            <td>{{s.gpa}}</td>
            <td>{{s.major != null ? s.major.name : "Undeclared"}}</td>
            <td>
                <a routerLink = "/students/detail/{{s.id}}">Detail</a> | 
                <a routerLink = "/students/edit/{{s.id}}">Edit</a>
            </td>
        </tr>
    </table>
</div>
